<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ecnu.uleda">

    <!-- 通过GPS得到精确位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 通过网络得到粗略位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 访问网络. 某些位置信息需要从网络服务器获取 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问WiFi状态. 需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 修改WiFi状态. 发起WiFi扫描, 需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 访问网络状态, 检测网络的可用性. 需要网络运营商相关信息用于网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问网络的变化, 需要某些信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 访问手机当前状态, 需要某些信息用于网络定位 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/UMainTheme">
        <meta-data
            android:name="TencentMapSDK"
            android:value="DYXBZ-ALP33-ZZV3L-3LKO5-PLDRF-AKFEO" />

        <activity
            android:name=".UMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TaskDetailsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".SingleUserInfoActivity" />
        <activity android:name=".SettingUserActivity" />
        <activity android:name=".SettingGeneralActivity" />
        <activity android:name=".SettingFeedbackActivity" />
        <activity android:name=".SettingAboutActivity" />
        <activity android:name=".MyWalletActivity" />
        <activity android:name=".MyQrActivity" />
        <activity android:name=".SettingUserPhoneActivity" />
        <activity android:name=".bottom_dialog" />
        <activity android:name=".Mywallet_RechargeActivity" />
        <activity android:name=".PopupwindowActivity" />
        <activity android:name=".TaskPostActivity" />
        <activity android:name=".LocationListActivity" />
        <activity android:name=".Community" />
        <activity android:name=".ForgetPassword" />
        <activity android:name=".GetBackByNumber" />
        <activity android:name=".MessageVertify"></activity>
    </application>

</manifest>