<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ecnu.uleda">

    <!-- 通过GPS得到精确位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 通过网络得到粗略位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 访问网络. 某些位置信息需要从网络服务器获取 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问WiFi状态. 需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 修改WiFi状态. 发起WiFi扫描, 需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 访问网络状态, 检测网络的可用性. 需要网络运营商相关信息用于网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问网络的变化, 需要某些信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 访问手机当前状态, 需要某些信息用于网络定位 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--<uses-permission android:name="android.permission.CAMERA" />-->
    <!--录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--防止设备休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--<uses-permission android:name="android.permission.WRITE_SETTINGS" />-->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!--<uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />-->
    <!--获取联系人信息，demo中演示发送通讯录消息-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/UMainTheme">
        <meta-data
            android:name="TencentMapSDK"
            android:value="DYXBZ-ALP33-ZZV3L-3LKO5-PLDRF-AKFEO" />

        <activity
            android:name=".view_controller.UMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view_controller.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view_controller.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view_controller.task.activity.TaskDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/UMainTheme" />
        <activity android:name=".view_controller.SettingActivity" />
        <activity android:name=".view_controller.SingleUserInfoActivity" />
        <activity android:name=".view_controller.SettingUserActivity" />
        <activity android:name=".view_controller.SettingGeneralActivity" />
        <activity android:name=".view_controller.SettingFeedbackActivity" />
        <activity android:name=".view_controller.SettingAboutActivity" />
        <activity android:name=".view_controller.MyWalletActivity" />
        <activity android:name=".view_controller.MyQrActivity" />
        <activity android:name=".view_controller.SettingUserPhoneActivity" />
        <activity android:name=".view_controller.Mywallet_RechargeActivity" />
        <activity android:name=".view_controller.widgets.UcircleDetailActivity"/>
        <activity android:name=".view_controller.PopupwindowActivity" />
        <activity
            android:name=".view_controller.TaskPostActivity"
            android:screenOrientation="portrait"
            android:theme="@style/UMainTheme" />
        <activity android:name=".view_controller.LocationListActivity" />
        <activity android:name=".view_controller.Community" />
        <activity android:name=".view_controller.GetBackByNumber" />
        <activity android:name=".view_controller.MessageVertify" />
        <activity android:name=".view_controller.UserRegister" />
        <activity android:name=".view_controller.MyTaskInFo" />
        <activity android:name=".view_controller.AddNewFriends" />
        <activity android:name=".view_controller.TaskEditActivity" />
        <activity android:name=".view_controller.Chart" />
        <activity android:name=".view_controller.ReleasedUcircleActivity" />
        <activity android:name=".view_controller.task.activity.ActivityDetailsActivity"
            android:theme="@style/NoStatusBarTheme"
            android:parentActivityName=".view_controller.UMainActivity"/>
        <activity android:name=".view_controller.CommonBigImageActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>


        <!-- 会话列表 -->
        <!-- 聚合会话列表 -->
        <!-- 会话界面 -->

        <provider
            android:name=".function_module.PhotoFileProvider"
            android:authorities="com.example.cameraalbumtest.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>